@model MvcActions.Patients.GetPatientResult
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Detail.cshtml";
}
<fieldset>
    @Html.HiddenFor(model => model.Patient.PatientID)
   <div class="editor-label">
        @Html.LabelFor(model => model.Patient.PatientID)
    </div>
    <div class="editor-label">
        @Html.DisplayFor(model => model.Patient.PatientID)       
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Patient.FirstName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Patient.FirstName)
        @Html.ValidationMessageFor(model => model.Patient.FirstName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Patient.LastName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Patient.LastName)
        @Html.ValidationMessageFor(model => model.Patient.LastName)
    </div>
</fieldset>
